@import "../layui/css/layui.css";
@import "../swiper/swiper.min.css";
@import "../font/iconfont.css";
@font-face {
  font-family: 'Hailan';
  src: url('../font/Limerick-Light.ttf');
  src: url('../font/Limerick-Light.otf');
  src: url('../font/Limerick-Light.eot');
  src: url('../font/Limerick-Light.woff');
}
* {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
html {
  position: relative;
}
body {
  font-family: 'PingFangSC-Regular', sans-serif, "微软雅黑", "Helvetica Neue", Helvetica, sans-serif, Helvetica-Bold;
}
ul,
ol,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
i,
em {
  font-style: normal;
}
.hanlan-font {
  font-family: 'Hailan' !important;
  letter-spacing: 3px;
}
/*左右浮动*/
.fl {
  float: left;
}
.fr {
  float: right;
}
/*清除浮动*/
.clearfix::after {
  display: block;
  height: 0;
  content: "";
  clear: both;
  visibility: hidden;
}
.hla-header {
  position: relative;
  height: 193px;
  padding: 46px 0 36px;
  background-color: #000000;
}
.hla-header .language {
  position: absolute;
  top: 46px;
  left: 70px;
  color: #ffffff;
  cursor: pointer;
}
.hla-header .language > span {
  display: inline-block;
  margin-left: 4px;
}
.hla-header .language .select-lan { display:none;
  font-size: 13px;
  width: 60px;
  text-align: center;
  margin: 4px 0 0 7px;
  border: 1px solid #ffffff;
}
.hla-header .language .select-lan a {
  color: #ffffff;
  line-height: 24px;
}
.hla-header .header-right {
  position: absolute;
  top: 36px;
  right: 70px;
}
.hla-header .header-right .online-shop {
  float: right;
  padding: 0;
  background-color: transparent;
}
.hla-header .header-right .online-shop .cart {
  display: inline-block;
  margin-right: 6px;
  width: 17px;
}
.hla-header .header-right .online-shop .layui-nav-item {
  font-size: 12px;
  cursor: pointer;
  line-height: 30px;
  color: #ffffff;
}
.hla-header .header-right .online-shop .layui-nav-child {
  top: 30px;
  line-height: 22px;
  padding: 5px 0;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 0;
}
.hla-header .header-right .online-shop .layui-nav-child dd.layui-this {
  background-color: transparent;
}
.hla-header .header-right .online-shop .layui-nav-child a {
  font-size: 12px;
  padding: 0 15px;
  color: #ffffff;
}
.hla-header .header-right .online-shop .layui-nav-child a:hover {
  background-color: transparent;
  color: inherit;
}
.hla-header .header-right .online-shop .layui-nav-child a:active {
  background-color: transparent;
  color: inherit;
}
.hla-header .header-right .online-shop .layui-nav-child a:visited {
  background-color: transparent;
  color: inherit;
}
.hla-header .header-right .follow {
  float: right;
  font-size: 12px;
  line-height: 30px;
  margin-left: 22px;
  color: #ffffff;
  cursor: pointer;
}
.header-content {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
}
.header-content .header-tab {
  display: inline-block;
  margin-top: 45px;
}
.header-content .header-tab li {
  float: left;
  margin: 0 25px;
  line-height: 42px;
  color: #ffffff;
}
.header-content .header-tab li > a {
  color: #ffffff;
}
.header-content .header-tab li > a:hover {
  color: inherit;
}
.header-content .header-tab li > span {
  margin: 0 3px;
  vertical-align: top;
  color: #ffffff;
}
.header-content .header-tab li > em {
  font-size: 13px;
}
.header-content .header-tab li .layui-nav-more {
  display: none;
}
.header-content .header-tab li .layui-nav-child {
  top: 40px;
  line-height: 32px;
  padding: 5px 0;
  border: none;
  border-radius: 0;
}
.header-content .header-tab li .layui-nav-child dd.layui-this:active {
  background: transparent;
}
.header-content .header-tab.layui-nav {
  padding: 0;
  background-color: transparent;
  color: inherit;
}
.layui-nav .layui-this:after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed:after {
  display: none;
}
.layui-nav .layui-nav-item a {
  padding: 0;
}
.footer-i {
  text-align: center;
  background-color: #000000;
  font-size: 10px;
}
.weixintc{ position:absolute; right:50px; bottom:110px; z-index:99999; height:100px; width:100px; display:none;}
.weixintc img{ height:100px; width:100px;}
.footer-i .index-foot {
  display: inline-block;
}
.footer-i .index-foot li {
  float: left;
  margin: 0 20px;
  line-height: 40px;
  color: #ffffff;
}
.footer-i .index-foot li a {
  color: inherit;
}
.footer-i .index-foot li em {
  display: inline-block;
  margin: 0 10px;
}
.footer-i .index-foot li img {
  display: inline-block;
  margin: 0 3px;
}
.footer-ii {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #000000;
}
.footer-ii .content {
  width: 1200px;
  margin: 0 auto;
}
.footer-ii .content .content-ul {
  line-height: 85px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.footer-ii .content .content-ul .about-hla {
  float: left;
  font-size: 13px;
  margin-right: 100px;
}
.footer-ii .content .content-ul .about-hla a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-ii .content .content-ul .web-hla {
  float: right;
}
.footer-ii .content .content-ul .web-hla img {
  display: inline-block;
  margin-left: 30px;
}
.footer-ii .address {
  font-size: 12px;
  margin-top: 28px;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.7);
}
.layui-nav-child dd.layui-this a:active {
  background: #000000;
}
.layui-nav .layui-nav-child a:hover {
  background: #000000 !important;
  color: #ffffff;
}
.layui-nav-child dd.layui-this a {
  background: #000000 !important;
}
.swiper-button-next {
  background: url('../image/md_right.png') no-repeat 0px 10px;
  background-size: 100%;
  outline: none;
  right: 5%;
}
.swiper-button-prev {
  background: url(../image/md_left.png) no-repeat 0px 10px;
  background-size: 100%;
  outline: none;
  left: 5%;
}
.swiper-pagination-bullet {
  display: inline-block;
  width: 80px;
  height: 5px;
  border-radius: 0;
  opacity: 1;
  background: #5a5e62;
}
.swiper-pagination-bullet-active {
  background: #ffffff;
}
.img-auto {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.letter-spaccing {
  letter-spacing: 12px;
}
